.shop-category{
    height: 450px;
}
.shop-category img{
    height: 450px;
    width: 1360px;

}
.category-products{
    height:710px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 0px;
    padding-top: 40px;
    background-color: gainsboro;
}
.SortByProducts{
    display: flex;
    justify-content:center;
    align-items: center;
}
.more-items{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.more-items button{
    height: 40px;
    width: 140px;
    border-radius: 10px;
}
.men-shopcategory{
    height: 600px;
    display: grid;
    grid-template-rows: 250px 250px;
    grid-template-columns: 200px 200px 200px 200px 200px;
    gap: 60px;
    padding-top: 50px;
    padding-left: 50px;
}
.men-categories{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.men-categories img{
    height: 200px;
    width: 200px;
}
.men-categories p{
    margin-left: 70px;
    font-weight: 500;
}

