.login{
    height: 500px;
    padding-top: 20px;
    background-image: url("https://websoptimization.com/blog/media/posts/44/responsive/Marketplace-Development-cost-lg.jpg");
    background-size: cover;
    
}
.signin-container{
    height: 470px;
    width: 450px;
    border: 0.5px black;
    margin-left: 450px;
    border-radius: 10px;
    background:transparent;
    padding-top: 20px;
    
}
.signin-container h1{
    display: flex;
    justify-content: center;
    font-size: xx-large;
}
.sign-in-inputs{
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 20px;
}
.sign-in-inputs input{
    height: 30px;
    border-radius: 10px;
}
.signin-container button{
    margin-left: 30px;
    width: 390px;
    height: 40px;
    background-color: #ff4141;
    border-radius: 10px;
    font-size: large;
    
}

.Agree-container{
    display: flex;
    gap: 10px;
    padding-left: 30px;
}
.old-account{
   padding-left: 100px;
}
.old-account span{
    color:navy;
    font-weight: bold;
}
.login-container p{
    color:white;
}